---
export const prerender = true;
import { getRelativeLocaleUrl } from "astro:i18n";
import Layout from "../../../../layouts/Layout.astro";
import fetchApi from "../../../../lib/strapi";

export async function getStaticPaths({ paginate }) {
  const response = await fetchApi({
    endpoint: "blogs",
    wrappedByKey: "data",
    locale: "es",
  });
  const articles = response;
  return paginate(articles, { pageSize: 2 });
}

const { page } = Astro.props;
---

<Layout>
  <h1>Página {page.currentPage}</h1>
  <ul>
    {
      page.data.map((article) => (
        <li>
          <a
            href={`/blog${getRelativeLocaleUrl("es")}${article.attributes.slug}`}
          >
            {article.attributes.title}
          </a>
        </li>
      ))
    }
  </ul>
  {page.url.prev ? <a href={page.url.prev}>Página Anterior</a> : null} |
  {page.url.next ? <a href={page.url.next}>Página Siguiente</a> : null}
</Layout>
